<div><a href="#/posts">Go back to all posts</a></div>
<div class="media">
    <div class="media-left">
        <img class="media-object image" ng-src="{{onePost.imageUrl}}" alt="Your Picture">
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{onePost.title}} | <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click="downVote(post)"></span><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click="upVote(post)"></span><span ng-class="{plusVote: post.votes > 0, negativeVote: post.votes < 0}">{{onePost.votes}}</span></h4>
        <p class="pull-right">By {{onePost.author}}</p>
        <br>
        <p>{{onePost.description}}</p>
        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{onePost.date | date:'fullDate'}}
            <div>
                <button type="button" class="btn btn-primary" ng-click="showEditPostForm = !showEditPostForm">Edit Post</button>
                <button type="button" class="btn btn-danger" ng-click="deletePost()">Delete Post</button>
            </div>
    </div>
    <!-- edit post form -->
    <div ng-show="showEditPostForm">
        <!-- Begin post form -->
        <form action="#" name="editPostForm" ng-submit="editPost(onePost)">
            <div class="form-group" ng-class="{'has-error': postForm.title.$invalid && !postForm.title.$pristine, 'has-success': postForm.title.$valid}">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" ng-model="onePost.title" ng-required="true">
            </div>
            <div class="form-group" ng-class="{'has-error': postForm.imageUrl.$invalid && !postForm.imageUrl.$pristine, 'has-success': postForm.imageUrl.$valid}">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" class="form-control" ng-model="onePost.imageUrl" ng-required="true">
            </div>
            <div class="form-group" ng-class="{'has-error': postForm.description.$invalid && !postForm.description.$pristine, 'has-success': postForm.description.$valid}">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" class="form-control" ng-model="onePost.description" ng-required="true">
            </div>
            <button type="submit" name="button" class="btn btn-success" ng-click="showEditPostForm = !showEditPostForm" ng-disabled="postForm.$invalid">Submit Edited Post</button>
        </form>
        <!-- End post form -->
        <!-- End nav section -->
    </div>
    <!-- end ng-show div -->
